# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Temp/UnityTempFile-f6dbb720dc8c1ea4a884a0b303beb8c3
Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Temp/UnityLockfile
Temp/UnityTempFile-59bd511f69e735d4094fec400436ada0
Temp/UnityTempFile-74adb1df28d8e3542b5e46cea07f5614
